*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}


#all{
        width: 1024px;
        margin: 0 auto;
}

#header{
    height: 150px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header h1{
    font-family: "La Belle Aurore", cursive;
    color: white;
    font-size: 60px;
   
    
}

#menu{
    height: 80px;
    

    display: flex;
    align-items: center;
    justify-content: space-between ;

    margin: 10px 0;
}



#nav, #x_socials{
    height: 50px;
    width: 250px;
    /* background: grey; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#nav{
    width: 500px;
}
#menu a{
    text-decoration: none;
    color: #363436;
}

#nav i{
    font-size: 30px;
    
}

#x_socials i{
     font-size: 48px;
}



#section_articles{
    height: 500px;
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

#article_ppal{
    width: 480px;
    height: 500px;
    border: 2px solid black;
    overflow: hidden;

    padding: 10px;



    /* background: url("../imatges/gato\ grande.jpg");
    background-size:cover;
    background-position: -15px; */
}
#article_ppal img{
    width: 100%;
}
    

#article_secundari{
    width: 500px;
    height: 500px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.art_sec{
    height: 200px;
    
    padding: 0 10px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.art_sec h2{
    width: 100%;
    background-color: black;
    color: azure;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
}

.art_sec img{
    width: 146px;
    border: 1px solid black;
    padding: 5px;
}

.art_sec p{
    font-size: 14px;
    margin-left: 10px;
    width: 320px;

}

.art_sec a{
    padding-left: 8px;
}

#section_noticies{
    height: 300px;
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px 0 75px 0;
}

#section_noticies h2{
    width: 100%;


    background: rgb(255, 0, 0);
    color: white;
    margin-bottom: 18px;

    display: flex;
    align-items: center;
    padding-left: 10px;


    border-radius: 4px;
}


.noticies{
    width: 280px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 10px;
}

.noticies img{
    width: 100%;
}

.noticies a{
    text-decoration: none;
    background: black;
    color: white;

    padding: 8px 16px;
    
    align-self: flex-end;
}
/* .noticies p{

} */

#footer{
    height: 50px;
    background: rgb(0, 0, 0);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}